/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.*
/configure
/configure.*
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.*
/missing
/target
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
src/Makefile.*
src/.deps
src/*.o
src/make-master